.certification-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.certification-page-navbar-interactive {
  align-self: stretch;
  justify-content: center;
}
.certification-page-logo {
  align-self: center;
  text-align: center;
}
.certification-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.certification-page-text {
  color: #0a945a;
}
.certification-page-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #D9D9D9;
}
.certification-page-image {
  flex: 1;
  width: 100%;
  align-self: stretch;
  object-fit: cover;
}
.certification-page-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.certification-page-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.certification-page-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1600px) {
  .certification-page-image {
    width: 100%;
  }
}
@media(max-width: 1200px) {
  .certification-page-image {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .certification-page-image {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .certification-page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certification-page-image {
    width: 100%;
  }
  .certification-page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .certification-page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .certification-page-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .certification-page-text1 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .certification-page-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .certification-page-image {
    width: 100%;
    align-self: stretch;
  }
  .certification-page-footer {
    padding: var(--dl-space-space-unit);
  }
  .certification-page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .certification-page-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .certification-page-text1 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
